@model ImportExportManagement_API.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeightIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeightIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeightOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeightOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityCard.IdentityCardId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goods)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goods.GoodsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
